<!-- <p>wertyuio Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur nam facere similique ut necessitatibus totam ex provident at repellat, soluta ipsam esse tempore! Tenetur iure inventore deleniti blanditiis saepe nihil.</p> -->

<!-- <ng-template ngbNavContent>

    <div class="mainContent">
     <div class="mainCards">
        <div class="row cols-md-3" >
          <div class="col mb-4"
            *ngFor="let pr of products ">
            <div class="product-card">
              <div *ngIf="pr.oldPrice" class="ribbon  ribbon--red">
                <p>SALE</p>
              </div>
              <div class="functional-buttons">
                <div class="buttons">
                  <a  class="fas fa-trash-alt " style="color:red; height: 30px;" (click)="removeWish(pr)">
                  </a>
                </div>
                <div class="buttons">
                
                </div>
                <div class="buttons">
                  <a class="addToBasket" (click)="addToCart(pr)">
                  </a>
                </div>
              </div>
              <img class="product-img" [attr.src]="pr.image[0]" alt="...">
              <img class="product-hov-img" [attr.src]="pr.image[1]" alt="...">
              <div class="proAbout">
                <p class="proName">{{pr.name}}</p>
                <p class="proPrice"> <s *ngIf="pr.oldPrice > 0" [style.font-weight]="'lighter'">{{pr?.oldPrice + '$'}}</s>
                  <a *ngIf="pr.oldPrice" class="text-danger"> -{{ pr?.oldPrice - pr?.newPrice + '$'}}</a>
                  {{pr?.newPrice + '$'}}</p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template> -->
