<header>
  <nav id="myNavbar" class="navbar navbar-expand-lg" [ngClass]="{'header_change': header_change}">

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
      data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white;">&#9776;</span>
    </button>

    <div class="collapse collapse-1 navbar-collapse" id="navbarTogglerDemo02" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/shop/', 'women' ]" routerLinkActive="active">
            Жінки
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="[ '/shop/', 'men' ]" routerLinkActive="active">
            Чоловіки
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/blog' ]" routerLinkActive="active">Blog</a>
        </li>
      </ul>
    </div>

    <a class="navbar-brand" [routerLink]="[ '/home' ]" routerLinkActive="active" [ngClass]="{'brand':navbarOpen }">
      <img *ngIf="!header_change"
        src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2Flogo432.png?alt=media&token=56899516-c9e6-42d1-aff0-b87be7012d7b"
        alt="" style="height: 90px; width: auto;">
      <img *ngIf="header_change"
        src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2Flogo432.png?alt=media&token=56899516-c9e6-42d1-aff0-b87be7012d7b"
        alt="" style="height: 90px; width: auto;">
    </a>

    <div class="collapse collapse-2 navbar-collapse" id="navbarTogglerDemo02" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/basket' ]" routerLinkActive="active">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2Fshopping-cart-empty-side-view.png?alt=media&token=ccbaa34d-164f-49ce-b81f-2c1ded2a6da1"
              alt="">
            <span class="basket-counter">{{getLocalStorage()}}</span>
          </a>
        </li>
        <li class="nav-item panel" *ngIf="!statusLogin">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2F85054b382185d4b1f62402ca8b93f220.png?alt=media&token=7f13df4c-03a0-4d98-b6d2-e0531a68c246"
            alt="">
          <a [routerLink]="[ '/login' ]">Увійти</a>
        </li>
        <li class="nav-item panel" *ngIf="statusLogin">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2F85054b382185d4b1f62402ca8b93f220.png?alt=media&token=7f13df4c-03a0-4d98-b6d2-e0531a68c246"
            alt="" [routerLink]="[ '/' + urlLogin ]">
          <a [routerLink]="[ '/' + urlLogin ]">{{ pageLogin | titlecase }}</a>
        </li>
      </ul>
    </div>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">&#9776;</a>
  </nav>
  <router-outlet></router-outlet>
</header>
