<div class="container-fluid">
  <div class="leftBar">
      <div class="filter">
    <p>Filter by category</p>

    <div class="pretty  p-svg p-round p-smooth">
      <input type="checkbox" />
      <div class="state p-danger">
        <svg class="svg svg-icon" viewBox="0 0 20 20">
          <path
            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
            style="stroke: white;fill:white;"></path>
        </svg>
        <label>Футболки</label>
      </div>
    </div>
    <div class="pretty  p-svg p-round p-smooth">

      <input type="checkbox" />
      <div class="state p-danger">
        <svg class="svg svg-icon" viewBox="0 0 20 20">
          <path
            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
            style="stroke: white;fill:white;"></path>
        </svg>
        <label>Сорочки</label>
      </div>
    </div>
    <div class="pretty  p-svg p-round p-smooth">

      <input type="checkbox" />
      <div class="state p-danger">
        <svg class="svg svg-icon" viewBox="0 0 20 20">
          <path
            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
            style="stroke: white;fill:white;"></path>
        </svg>
        <label>Сукні</label>
      </div>
    </div>
    <div class="pretty  p-svg p-round p-smooth">

      <input type="checkbox" />
      <div class="state p-danger">
        <svg class="svg svg-icon" viewBox="0 0 20 20">
          <path
            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
            style="stroke: white;fill:white;"></path>
        </svg>
        <label>Пальто</label>
      </div>
    </div>
</div>

<div class="filter" style="height: 400px;">
    <p>Filter by color</p>
    <div class="pretty  p-svg p-round p-smooth" >

        <input type="checkbox"  />
        <div class="state" >
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label id="circle" style="background-color: #f44336;">Червоний</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth" >

        <input type="checkbox"  />
        <div class="state" >
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label id="circle" style="background-color: #4caf50;">Зелений</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth" >

        <input type="checkbox"  />
        <div class="state" >
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label id="circle" style="background-color: #964B00;">Коричневий</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth" >

        <input type="checkbox"  />
        <div class="state" >
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: rgb(0, 0, 0);fill:rgb(0, 0, 0);"></path>
          </svg>
          <label id="circle" style="background-color: white;">Білий</label>
        </div>
      </div>    
  
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state ">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: rgb(0, 0, 0);fill:rgb(0, 0, 0);"></path>
          </svg>
          <label id="circle" style="background-color: #ffeb3b;">Жовтий</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state ">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label id="circle" style="background-color: black;">Чорний</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state ">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label id="circle" style="background-color: blue;">Синій</label>
        </div>
      </div>
</div>

<div class="filter">
    <p>Filter by size</p>
    <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox"  />
        <div class="state p-danger">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label>S</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state p-danger">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label>M</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state p-danger">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label>L</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state p-danger">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label>XL</label>
        </div>
      </div>
</div>


<div class="filter">
    <p>Vendor</p>
    <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state p-danger">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label>Guess</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state p-danger">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label>Lacoste</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state p-danger">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label>Zara</label>
        </div>
      </div>    
      <div class="pretty  p-svg p-round p-smooth">

        <input type="checkbox" />
        <div class="state p-danger">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white;fill:white;"></path>
          </svg>
          <label>Polo</label>
        </div>
      </div>
</div>




  </div>
  <div class="mainContent">
  <div class="mainTop">
      <h3>Shop</h3>
  </div>

  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="product-card">
        <div class="functional-buttons">
          <div class="buttons">
            <a class="addToWishlist"  >
            </a>
          </div>
          <div class="buttons">
            <a  class="quick-view" >
            </a>
         </div>
         <div class="buttons">
          <a  class="addToBasket" >
          </a>
			</div>
        </div>
        <img class="product-img" src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2Fbold-prints.jpg?alt=media&token=3f26fea1-09de-4c82-bd08-651695905398" alt="...">
       <div class="proAbout">
          <p class="proName">Card title</p>
          <p class="proPrice">123$</p>
        </div>
        <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
      </div>
    </div>
    <div class="col mb-4">
      <div class="product-card">
        <div class="functional-buttons">
          <div class="buttons">
            <a class="addToWishlist"  >
            </a>
          </div>
          <div class="buttons">
            <a  class="quick-view" >
            </a>
         </div>
         <div class="buttons">
          <a  class="addToBasket" >
          </a>
			</div>
        </div>
        <img class="product-img" src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2FTS10S34SMON_M_1.webp?alt=media&token=7898be8d-2c22-4232-803c-2474e5ba8197" alt="...">
        <div class="proAbout">
          <p class="proName">Card title</p>
          <p class="proPrice">123 </p>
        </div>
        <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
  
      </div>
    </div>

    <div class="col mb-4">
      <div class="product-card">
        <div class="functional-buttons">
          <div class="buttons">
            <a class="addToWishlist"  >
            </a>
          </div>
          <div class="buttons">
            <a  class="quick-view" >
            </a>
         </div>
         <div class="buttons">
          <a  class="addToBasket" >
          </a>
			</div>
        </div>
        <img class="product-img" src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2Fbold-prints.jpg?alt=media&token=3f26fea1-09de-4c82-bd08-651695905398" alt="...">
        <div class="proAbout">
          <p class="proName">Card title</p>
          <p class="proPrice">123 </p>
        </div>
        <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
      </div>
    </div>
    <div class="col mb-4">
      <div class="product-card">
        <div class="functional-buttons">
          <div class="buttons">
            <a class="addToWishlist"  >
            </a>
          </div>
          <div class="buttons">
            <a  class="quick-view" >
            </a>
         </div>
         <div class="buttons">
          <a  class="addToBasket" >
          </a>
			</div>
        </div>
        <img class="product-img" src="https://firebasestorage.googleapis.com/v0/b/cpcompany.appspot.com/o/images%2Fbold-prints.jpg?alt=media&token=3f26fea1-09de-4c82-bd08-651695905398" alt="...">
        <div class="proAbout">
          <p class="proName">Card title</p>
          <p class="proPrice">123 </p>
        </div>
        <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>
