.viewImg img {
  height: 465px;
  width: 310px;
}

.card {
  margin-bottom: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.blogNews{
  min-height: 100px;
}
thead {
  background: linear-gradient(to right, #000000, #434343);
  color: white;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-inline {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.inputfile+label {
  font-size: 13px;
  text-align: center;
  height: 30px;
  width: 120px;
  background-color: #494949;
  color: white;
  border-radius: 50px;
  border-color: #494949;
  padding: 2px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: rgb(114, 55, 55);
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}
@media all and (max-width : 1200px) {
  .form-control {
    height: 30px;
  }

  .desc {
    height: 200px;
    overflow: auto;
  }
}

@media all and (max-width : 770px) {
  .lasImg {
    width: auto;
    height: 165px;
  }

  .desc {
    height: 150px;
  }
}

@media all and (max-width : 430px) {
  .container-fluid {
    position: relative;
  }

  .pro-name {
    display: none;
  }

  .bth {
    height: 20px;
    width: 20px;
  }

  .table {
    font-size: 12px;
    // margin-left: -25px;

    & th {
      font-size: 10px;
    }
& p {
    height: 100px;
    overflow: auto;
}
    & td {
      max-width: 50px;
      padding: 1px;
    }

    & h1,
    h4 {
      font-size: 15px;
    }
  }

  .fa,
  .far,
  .fas {
    font-size: 16px;
  }


}
