
<!-- <ng-template ngbNavContent>


    <form class="form-group">

      <div class="form-group">
        <label for="exampleFormControlInput1">Ім`я</label>
        <input  [(ngModel)]="userName" name="userName" type="text" class="form-control" id="userName"
          placeholder="Ваше ім`я*" #name="ngModel" required>
        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
          Не вказано ім`я
        </div>
      </div>

      <div class="form-group ">

        <input [(ngModel)]="userID" name="userID" type="hidden" class="form-control" id="userID">
      </div>

      <div class="form-group ">
        <label for="exampleFormControlInput1">Телефон</label>
        <input [(ngModel)]="userPhone" name="userPhone" type="text" class="form-control" id="userPhone"
          placeholder="Телефон*" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput1">Місто</label>
          <input [(ngModel)]="userCity" name="userCity" type="text" class="form-control" id="userCity"
            placeholder="Місто*" required>
        </div>

        <div class="form-group col-md-4">
          <label for="exampleFormControlInput1">Вулиця</label>
          <input [(ngModel)]="userStreet" name="userStreet" type="text" class="form-control" id="userStreet"
            placeholder="Вулиця*" required>
        </div>
        <div class="form-group col-md-2">
          <label for="exampleFormControlInput1">Будинок</label>
          <input [(ngModel)]="userHouse" name="userHouse" type="text" class="form-control" id="userHouse"
            placeholder="Будинок*" required>
        </div>
      </div>

<input  [(ngModel)]="uID" name="uID" type="text" class="form-control" id="uID">

      <input type="button" value="ЗБЕРЕГТИ ДАНІ" class="btn btn-dark btn-block" (click)="addInfo()">
    </form>

  </ng-template> -->
