.viewImg img {
  height: 465px;
  width: 310px;
}

#productDescription {
  height: 100px;
}

.form-group {
  padding-left: 30px;
  margin-right: 70px;
  font-family: 'Play';
  font-size: 14px;
}

table {
  font-family: 'Play';
  font-size: 14px;
}

.forImages {
  width: 200px;
  // height: 265px;
  display: flex;
  flex-direction: row;
  margin: 0 10px;

  & img {
    width: 100%;
    height: auto;
  }
}

.lasImg {
  width: auto;
  height: 200px;
  // border: 1px solid rgba(1, 3, 5, 0.5);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.form-inline {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 13px;
  text-align: center;
  height: 30px;
  width: 120px;
  background-color: #494949;
  color: white;
  border-radius: 50px;
  border-color: #494949;
  padding: 2px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: rgb(114, 55, 55);
}

.inputfile+label {
  cursor: pointer;
}

@media all and (max-width : 1200px) {
  .form-control {
    height: 30px;
  }

  .desc {
    height: 200px;
    overflow: auto;
  }
}

@media all and (max-width : 770px) {
  .lasImg {
    width: auto;
    height: 165px;
  }

  .desc {
    height: 150px;
  }
}

@media all and (max-width : 430px) {
  .container-fluid {
    position: relative;
  }

  .pro-name {
    display: none;
  }

  .bth {
    height: 20px;
    width: 20px;
  }

  .table {
    font-size: 12px;
    margin-left: -25px;

    & th {
      font-size: 10px;
    }

    & td {
      max-width: 50px;
      padding: 1px;
    }

    & h1,
    h4 {
      font-size: 15px;
    }
  }

  .fa,
  .far,
  .fas {
    font-size: 16px;
  }

  .lasImg {
    width: auto;
    height: 75px;
  }
}
